/*main css*/
body{
  	font-family:Arial, Tahoma;
  	background:#fff;
	overflow-x:hidden;
	font-family: 'Open Sans';
	font-weight: normal;
  	font-style: normal;
	font-size:12px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family:Arial, Tahoma;
	font-family: 'Open Sans';
	font-weight: normal;
  	font-style: normal;
}
a:focus{
  	outline: none;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
}
.container{
    width:1050px;
	padding-left:0;
	padding-right:0;
	margin:0 auto;
}
.text-underline{
	text-decoration:underline !important;
}
.text-none{
	text-decoration:none !important;
}
.cursor-pointer{
	cursor:pointer !important;
}
.maincontent{
	font-size:12px;
	line-height:20px;
}
.maincontent p{
	font-size:12px;
	margin:0 0 5px;
}
.maincontent b, .maincontent strong{
	font-weight:600;
}
.maincontent img{
	max-width:100%;
	height:auto !important;
}
.form-line{
	height:1px;
	background-color:#e5e5e5;
	margin:0 0 10px;
}
.row.xs-reset-all{
	margin-left:0;
	margin-right:0;
}
.row.xs-reset-5{
	margin-left:-5px;
	margin-right:-5px;
}
[class*="col-xs-"].reset-padding-all{ 
	padding-left:0;
	padding-right:0;
}
[class*="col-xs-"].reset-padding-left{
	padding-left:0;
}
[class*="col-xs-"].reset-padding-right{
	padding-right:0;
}
[class*="col-xs-"].padding-all-5{
	padding-left:5px;
	padding-right:5px;
}
[class*="col-xs-"].padding-left-5{
	padding-left:5px;
}
[class*="col-xs-"].padding-right-5{
	padding-right:5px;
}
/*end main css*/
/*header*/
.navigator{
	background:#3e7bc2;
	padding:5px 0;
	text-align:right;
	line-height:16px;
}
.tripadvisor-header{
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
}
.admin-ul{
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
	padding-top:2px;
}
.admin-ul > li{
	float:left;
	font-size:12px;
}
.admin-ul > li + li:before{
	content:"|";
	margin:0 3px;
	color:#fff;
}
.admin-ul > li > a{
	color:#fff;
	font-size:12px;
}
.box-social{
	display:inline-block;
	vertical-align:top;
}
.box-social a{
	display:inline-block;
	vertical-align:top;
	margin-right:2px;
}
.icon-facebook{
	background:url(../images/box-social.png) no-repeat 0 0;
	width:22px;
	height:22px;
	display:inline-block;
	vertical-align:top;
}
.icon-twitter{
	background:url(../images/box-social.png) no-repeat -27px 0;
	width:22px;
	height:22px;
	display:inline-block;
	vertical-align:top;
}
.icon-googleplus{
	background:url(../images/box-social.png) no-repeat -54px 0;
	width:22px;
	height:22px;
	display:inline-block;
	vertical-align:top;
}
.icon-youtube{
	background:url(../images/box-social.png) no-repeat -81px 0;
	width:22px;
	height:22px;
	display:inline-block;
	vertical-align:top;
}
.icon-pinterest{
	background:url(../images/box-social.png) no-repeat -108px 0;
	width:22px;
	height:22px;
	display:inline-block;
	vertical-align:top;
}
.icon-tumblr{
	background:url(../images/box-social.png) no-repeat -135px 0;
	width:22px;
	height:22px;
	display:inline-block;
	vertical-align:top;
}
.icon-linkin{
	background:url(../images/box-social.png) no-repeat -162px 0;
	width:22px;
	height:22px;
	display:inline-block;
	vertical-align:top;
}
.rating-header{
	font-size:12px;
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
	color:#fff;
	padding:2px 0 0;
}
.rating-header .fa{
	color:#ffb400;
	margin:0 1px;
}
.header{
	height:88px;
	position:relative;
	z-index:10;
}
.logo{
	float:left;
	position:absolute;
	top:0;
	z-index:2;
	background:#fff;
	background:rgba(255,255,255,0.9);
	-moz-box-shadow:3px 3px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow:3px 3px 3px rgba(0,0,0,0.15);
	box-shadow:3px 3px 3px rgba(0,0,0,0.15);
}
/*end header*/
/*menu*/
.menu-expand{
	padding:12px 15px;
	cursor:pointer;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	display:none;
}
.menu-expand .fa{
	font-size:18px;
	margin-right:10px;
	vertical-align:middle;
}
.menu-expand.active, .menu-expand:hover{
	background:#3d5a99;
	color:#fff;
}
.menu{
	float:right;
}
.menu > ul > li{
	float:left;
	height:88px;
	margin-left:1px;
}
.menu > ul > li > a{
	display:block;
	padding:37px 10px 0;
	height:88px;
	font-size:13px;
	color:#5b5b5b;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}
.menu > ul > li.active,
.menu > ul > li:hover{
	background:#3e7bc2;
}
.menu > ul > li.active > a,
.menu > ul > li:hover > a{
	color:#fff;
}
/*end menu*/
/*grid all*/
.grid{
	margin:0;
	padding:0;
	min-height:60px;
}
.grid .img{
	float:left;
	width:50px;
	height:50px;
	overflow:hidden;
}
.grid .img img{
	width:100%;
	min-height:50px;
}
.grid .g-content{
	margin-left:60px;
}
.grid .g-right{
	text-align:right;
	line-height:18px;
	margin-bottom:5px;
}
.grid .g-row{
	line-height:18px;
	margin-bottom:5px;
}
.grid .g-title{
	font-weight:bold;
	margin-right:3px;
}
.grid a.g-title{
	cursor:pointer;
}
.grid .g-smalltitle{
	font-weight:normal;
	margin-right:3px;
}
.grid a.g-smalltitle{
	cursor:pointer;
}
/*end grid all*/
/*frame*/
.box-title{
	border-bottom:1px solid #e5e5e5;
	min-height:40px;
	position:relative;
	z-index:1;
}
.box-title .lb-name{
	color:#333;
	display:block;
	font-size:18px;
	font-weight:600;
	padding:7px 0;
	line-height:24px;
}
.box-banner{
	margin:0 0 15px;
	text-align:center;
}
.box-banner img{
	max-width:100%;
}
.bg-gray{
	background:#eee;
}
.bg-white{
	background:#fff;
}
.box{
	margin:0 0 15px;
}
.winget-title{
	padding:0 0 10px;
	position:relative;
	z-index:1;
}
.winget-title .lb-name{
	font-size:14px;
	color:#333;
	font-weight:600;
	display:block;
}
.page-title{
	margin:0 0 15px;
	padding:15px 0 0;
}
.page-title h1, .page-title h2{
	margin:0;
	font-weight:600;
	font-size:24px;
}
/*end frame*/
/*slider*/
.main-slider{
	position:relative;
	z-index:1;
	min-height:40px;
}
.main-slider .h-item{
	margin-right:-1px;
}
.main-slider .owl-nav .owl-prev,
.main-slider .owl-nav .owl-next{
	background:url(../images/slider-button.png) no-repeat 0 0;
	width:42px;
	height:88px;
	display:inline-block;
	vertical-align:top;
	text-indent:-999px;
	overflow:hidden;
	position:absolute;
	top:50%;
	margin-top:-44px;
	opacity:0.5;
}
.main-slider .owl-nav .owl-prev{
	left:10px;
}
.main-slider .owl-nav .owl-next{
	background:url(../images/slider-button.png) no-repeat -42px 0;
	right:10px;
}
.main-slider .owl-nav .owl-prev:hover{
	opacity:1;
}
.main-slider .owl-nav .owl-next:hover{
	opacity:1;
}
.box-support{
	position:absolute;
	z-index:2;
	bottom:0;
	left:0;
	right:0;
	background:#fff;
	background:rgba(255,255,255,0.8);
	padding:10px 0;
}
.box-support .bs-inline{
	display:inline-block;
	vertical-align:top;
	margin-right:30px;
	font-size:14px;
}
.box-support .fa-phone, .box-support .fa-envelope{
	margin-right:5px;
	font-size:18px;
}
.box-support .fa-skype{
	font-size:16px;
}
/*end slider*/
/*home comment*/
.home-comment{
	padding:45px 0 80px;
}
.home-comment .hc-title{
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	padding:0 0 35px;
	font-weight: 600;
}
.home-comment .grid{
	min-height:100px;
}
.home-comment .grid .img{
	width:100px;
	height:100px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.home-comment .grid .img img{
	min-height:100px;
}
.home-comment .grid .g-content{
	margin-left:122px;
}
.home-comment .grid .g-row{
	font-size:15px;
	line-height:22px;
	font-style:italic;
	color:#333;
}
.home-comment .grid .g-title{
	font-size:15px;
	text-transform:uppercase;
	font-weight:600;
	font-style:normal;
}
.home-comment .grid .g-from{
	color:#999;
	font-style:normal;
}
.home-comment .grid .fa-star{
	color:#ccc;
	margin-left:2px;
}
.home-comment .grid .fa-star.yellow{
	color:#ffbb04;
}
.home-comment .owl-dots{
	position:absolute;
	bottom:-50px;
	right:0;
	left:0;
	z-index:99;
	text-align:center;
}
.home-comment .owl-dots .owl-dot{
	width:12px;
	height:12px;
	background:#ccc;
	margin:0 5px;
	display:inline-block;
	vertical-align:top;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.home-comment .owl-dots .owl-dot:hover,
.home-comment .owl-dots .owl-dot.active{
	width:12px;
	height:12px;
	background:#034fbd;
}
/*end home comment*/
/*home content*/
.home-content{
	padding:50px 0 10px;
}
.top-featured{
	background:#fff;
	margin:0 0 50px;
}
.top-featured .grid .img{
	width:720px;
	height:290px;
}
.top-featured .grid .img img{
	min-height:290px;
}
.top-featured .grid .g-content{
	margin-left:720px;
	min-height:290px;
	padding:20px 15px 10px 20px;
}
.top-featured .grid .g-row{
	font-size:12px;
	line-height:20px;
	overflow:hidden;
	max-height:140px;
	margin-bottom:10px;
}
.top-featured .grid .g-title{
	font-size:16px;
	color:#333;
	font-weight:600;
	text-transform:uppercase;
}
/*end home content*/
/*big list*/
.big-list{
	padding:30px 35px 10px;
}
.big-list .grid .img{
	float:none;
	width:auto;
	border:5px solid #eee;
	margin:0 0 10px;
	height:130px;
}
.big-list .grid .img img{
	min-height:120px;
}
.big-list .grid .g-content{
	margin-left:0;
}
.big-list .grid .g-row{
	margin-bottom:10px;
	font-size:12px;
	line-height:20px;
}
.big-list .grid .g-desc{
	height:160px;
	overflow:hidden;
}
.big-list .grid .g-title{
	font-size:16px;
	color:#333;
	text-transform:uppercase;
	font-weight:600;
}
.big-list ul{
	margin-right:-55px;
}
.big-list ul li{
	float:left;
	width:33.33%;
	padding-right:55px;
	padding-bottom:15px;
}
/*end big list*/
/*small list*/
.small-list{
	padding:50px 0 10px;
}
.small-list .grid{
	min-height:130px;
}
.small-list .grid .img{
	width:130px;
	border:5px solid #dedcdc;
	height:130px;
}
.small-list .grid .img img{
	min-height:120px;
}
.small-list .grid .g-content{
	margin-left:145px;
}
.small-list .grid .g-row{
	margin-bottom:5px;
	font-size:12px;
	line-height:18px;
}
.small-list .grid .g-title{
	font-size:14px;
	color:#333;
	font-weight:600;
	white-space:nowrap;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	text-overflow:ellipsis;
}
.small-list .grid .g-more{
	color:#034fbd;
}
.small-list .grid .g-more .fa{
	margin-right:4px;
}
.small-list ul li{
	float:left;
	width:50%;
	padding-right:35px;
	padding-bottom:35px;
	padding-left:35px;
}
/*end big list*/
/*footer*/
.footer-top{
	background:#f9f9f9;
	border-top:1px solid #d8d8d8;
	padding:25px 0;
}
.footer-top .footer-lb{
	font-size:14px;
	color:#282828;
	text-transform:uppercase;
	font-weight:600;
	padding:5px 0;
}
.footer-top .footer-lb .fa{
	display:none;
}
.footer-top  .list-ul{
	border-top:1px dotted #909090;
}
.footer-top  .list-ul > li{
	border-bottom:1px dotted #909090;
}
.footer-top  .list-ul > li > a{
	padding:8px 10px;
	display:block;
	text-decoration:none;
	font-size:12px;
	color:#333;
}
.footer-top  .list-ul > li > a > .fa{
	float:left;
	margin:3px 0 0 -10px;
}
.footer-top  .list-ul > li:hover > a{
	color:#4483cc;
}
.tripadvisor{
	text-align:center;
	padding:30px 0;
}
.tripadvisor a{
	background:url(../images/tripadvisor.png) no-repeat;
	width:150px;
	height:103px;
	display:inline-block;
	vertical-align:top;
	padding:60px 0 0;
	text-decoration:underline;
	color:#333;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
}
.footer-menu{
	background:#4483cc;
	padding:10px 0;
	text-align:center;
	-moz-box-shadow:inset 0 5px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow:inset 0 5px 5px rgba(0,0,0,0.15);
	box-shadow:inset 0 5px 5px rgba(0,0,0,0.15);
}
.footer-menu ul > li{
	display:inline-block;
	vertical-align:top;
}
.footer-menu ul > li > a{
	display:block;
	font-size:12px;
	color:#fff;
	padding:5px 10px;
	font-weight:600;
}
.copyright{
	background:#4483cc;
	border-top:1px solid #699cd6;
	padding:10px 0;
	text-align:center;
	font-size:11px;
	color:#fff;
	line-height:16px;
}
.copyright p{
	margin:0;
}
/*end footer*/
/*breadcrumb*/
.breadcrumb{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	background:transparent;
	padding:10px 0;
	margin-bottom:0;
}
.breadcrumb > li{
	font-size:12px;
	margin-bottom:5px;
	display:inline;
}
.breadcrumb > li + li:before{
	padding:0 2px;
}
.breadcrumb > .active{
	color:#999;
}
.breadcrumb > li > a{
	color:#333;
	font-size:12px;
	text-decoration:none;
}
.breadcrumb > li > a:hover{
	color:#3e7bc2;
}
.breadcrumb .fa{
	margin:2px 5px 0 0;
	color:#999;
}
/*end breadcrumb*/
/*pagination*/
.box-control{
	min-height:30px;
}
.box-control .pagination-router{
	float:none;
	text-align:right;
}
.box-control .pagination{
	margin:0 0 15px;
}
.box-control .pagination > li{
	margin:0 2px 0 0;
	float:left;
}
.box-control .pagination > li > a,
.box-control .pagination > li > span{
	padding:6px 12px;
	color:#333;
	background-color:#f5f5f5;
	border:none;
	font-size:12px;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.box-control .pagination > .active > a,
.box-control .pagination > .active > span, 
.box-control .pagination > .active > a:hover,
.box-control .pagination > .active > span:hover,
.box-control .pagination > .active > a:focus,
.box-control .pagination > .active > span:focus{
	background-color:#e5e5e5;
}
.box-control .pagination > li:hover > a,
.box-control .pagination > li:hover > span{
	background-color:#034fbd;
	color:#fff;
}
.box-control .pagination > li:first-child > a,
.box-control .pagination > li:first-child > span{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
.box-control .pagination > li:last-child > a,
.box-control .pagination > li:last-child > span{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
/*end pagination*/
/*box center*/
.box-center{
	background:#f3f3f1;
	padding:0 0 10px;
	-moz-box-shadow:inset 0 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 3px 3px rgba(0,0,0,0.1);
	box-shadow:inset 0 3px 3px rgba(0,0,0,0.1);
}
.box-center .breadcrumb{
	padding:0;
}
.box-center .box-support{
	position:static;
	background:transparent;
	text-align:right;
}
/*end box center*/
/*our city*/
.city-item{
	background:#999;
	padding:10px 0 0;
}
.city-item .ci-thumb{
	overflow:hidden;
	height:195px;
}
.city-item .ci-thumb img{
	width:100%;
	min-height:195px;
}
.city-item .ci-content{
	padding:15px 20px 10px;
	border-bottom:1px dotted #fff;
}
.city-item .ci-row{
	margin-bottom:10px;
	color:#fff;
	font-size:12px;
	line-height:18px;
}
.city-item .ci-desc{
	overflow:hidden;
	height:144px;
}
.city-item .ci-title{
	color:#fff;
	text-transform:uppercase;
	font-size:24px;
	line-height:28px;
	white-space:nowrap;
	overflow:hidden;
	display:block;
	text-overflow:ellipsis;
}
.city-item .ci-bottom{
	padding:10px;
}
.city-item .ci-bottom ul li a{
	font-size:11px;
	color:#fff;
	display:inline-block;
	vertical-align:top;
	max-width:70%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.city-item .ci-bottom ul li a .fa{
	margin-right:5px;
}
.city-item .ci-bottom ul li .ci-cost{
	float:right;
	font-weight:bold;
	color:#fffc0e;
}
.city-item .ci-search{
	background:#d4daca;
	text-align:right;
	line-height:16px;
	padding:2px 10px 5px 10px;
}
.city-item .ci-search a{
	font-size:11px;
	color:#333;
}
.city-item .ci-search a .fa{
	margin-right:4px;
}
.our-city{
	padding:40px 0 5px;
}
.our-city > ul{
	margin-right:-30px;
}
.our-city > ul > li{
	float:left;
	width:33.33%;
	padding-right:30px;
	padding-bottom:35px;
}
/*end our city*/
/*city all*/
.city-info{
	padding:30px 0 0;
	margin:0 0 20px;
}
.city-info .ci-left{
	float:left;
	width:460px;
	height:310px;
	background:#999;
	padding:30px;
}
.city-info .ci-left .ci-title{
	color:#fff;
	text-transform:uppercase;
	font-size:30px;
	margin:0 0 10px;
}
.city-info .ci-left .ci-desc{
	color:#fff;
	font-size:13px;
	line-height:20px;
	overflow:hidden;
	max-height:160px;
}
.city-info .ci-right{
	float:right;
	width:590px;
	height:310px;
	overflow:hidden;
	position:relative;
	z-index:1;
}
.city-info .ci-right img{
	min-height:310px;
}
.city-info .ci-right .owl-dots{
	position:absolute;
	z-index:2;
	bottom:5px;
	right:15px;
}
.city-info .ci-right .owl-dots .owl-dot{
	width:10px;
	height:10px;
	background:#d7e8eb;
	margin-left:7px;
	display:inline-block;
	vertical-align:top;
}
.city-info .ci-right .owl-dots .owl-dot.active{
	background:#fff;
}
.city-type{
	margin:0 0 35px;
}
.city-type .ct-inner{
	display:inline-block;
	vertical-align:top;
	padding:10px;
	background:#f7f9fa;
}
.city-type .ct-inner label{
	font-size:12px;
	margin:0;
	font-weight:600;
	display:inline-block;
	vertical-align:top;
	padding:7px 0 0;
	margin-right:10px;
}
.city-type .ct-inner .form-control{
	width:230px;
	display:inline-block;
	vertical-align:top;
	font-size:12px;
}
.folder-item .fi-thumb{
	width:140px;
	height:140px;
	background:#999;
	color:#fff;
	display:block;
	margin:0 auto 10px;
	text-align:center;
	padding:40px 0 0;
	font-size:44px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.folder-item .fi-title{
	text-align:center;
	font-size:16px;
	display:block;
	font-weight:600;
	color:#999;
}
.city-folder{
	padding:0 0 30px;
}
.city-folder ul li{
	float:left;
	width:33.33%;
	padding-bottom:15px;
}
.tour-item .tour-title{
	background:#999;
	padding:8px 10px;
}
.tour-item .tour-title a{
	color:#fff;
	font-size:14px;
	line-height:20px;
	display:block;
	overflow:hidden;
	height:40px;
	text-decoration:none;
}
.tour-item .tour-thumb{
	overflow:hidden;
	margin:0 0 5px;
	height:215px;
}
.tour-item .tour-thumb img{
	width:100%;
	min-height:215px;
}
.tour-item .tour-content{
	padding:0 0 10px;
}
.tour-item .tour-row{
	margin-bottom:3px;
	font-size:12px;
	line-height:18px;
	overflow:hidden;
	max-height:36px;
}
.tour-item .tour-desc{
	height:36px;
}
.tour-item .tour-rating{
	text-align:right;
	margin:0 0 10px;
}
.tour-item .tour-rating a{
	font-size:11px;
}
.tour-item .tour-rating .fa{
	font-size:14px;
	margin-right:2px;
	color:#ddd;
}
.tour-item .tour-rating .yellow{
	color:#ffb400;
}
.tour-item .tour-bottom{
	padding:10px;
	background:#f8fafb;
	border-bottom:4px solid #e0e0e0;
	min-height:50px;
}
.tour-item .tour-bottom .btn{
	float:right;
}
.tour-item .tour-bottom .tour-price{
	text-transform:uppercase;
}
.tour-item .tour-bottom .tour-price span{
	color:#ff4e56;
	font-size:16px;
	font-weight:bold;
}
.city-tour ul{
	margin-right:-30px;
}
.city-tour ul li{
	float:left;
	width:33.33%;
	padding-right:30px;
	padding-bottom:35px;
}
/*end city all*/
/*highlight*/
.highlight-group{
}
.highlight-group .hg-thumb{
	overflow:hidden;
	height:195px;
}
.highlight-group .hg-thumb img{
	width:100%;
	min-height:195px;
}
.highlight-group .hg-content{
	padding:15px 15px 0;
}
.highlight-group .hg-content .grid{
	min-height:60px;
}
.highlight-group .hg-content .grid .img{
	width:32px;
	height:32px;
}
.highlight-group .hg-content .grid .img img{
	min-height:32px;
}
.highlight-group .hg-content .grid .g-content{
	margin-left:42px;
}
.highlight-group .hg-content .grid .g-row{
	margin-bottom:2px;
	font-size:11px;
	color:#999;
	line-height:14px;
	max-height:28px;
	overflow:hidden;
}
.highlight-group .hg-content .grid .g-title{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display:block;
	font-size:18px;
	font-weight:600;
	color:#333;
	line-height:24px;
}
.highlight-group .hg-content .hg-desc{
	font-size:12px;
	line-height:18px;
	height:108px;
	overflow:hidden;
	margin:0 0 10px;
}
.highlight-group .hg-content .hg-row{
	background:#f3f3f1;
	margin:0 0 2px;
	padding:3px 10px;
}
.highlight-group .hg-content .hg-row a{
	display:inline-block;
	width:70%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:11px;
}
.highlight-group .hg-content .hg-cost{
	float:right;
	font-size:12px;
	color:#ec3733;
	font-weight:600;
}
.highlight-group .hg-content .hg-search{
	text-align:right;
	background:#e0e0de;
	padding:3px 10px;
}
.highlight-group .hg-content .hg-search a{
	font-size:11px;
	color:#333;
}
.highlight-group .hg-content .hg-search a .fa{
	margin-right:4px;	
}
.city-highlight{
	padding:35px 0;
}
.city-highlight ul li{
	width:33.33%;
	float:left;
	padding-right:1px;
	padding-bottom:30px;
}
.highlight-type{
	min-height:70px;
	padding:15px 0 0;
}
.highlight-type .ct-inner{
	float:right;
}
.highlight-type .ct-name{
	font-size:24px;
	font-weight:600;
	display:inline-block;
	vertical-align:top;
	padding:10px 0 0;
}
.highlight-item{
	-moz-box-shadow:0 2px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow:0 2px 0 rgba(0,0,0,0.1);
	box-shadow:2px 2px 0 rgba(0,0,0,0.1);
}
.highlight-item .highlight-title{
	display:block;
	overflow:hidden;
	white-space:nowrap;
	font-weight:600;
	text-overflow:ellipsis;
}
.highlight-item .highlight-thumb{
	overflow:hidden;
	margin:0 0 5px;
	height:215px;
}
.highlight-item .highlight-thumb img{
	width:100%;
	min-height:215px;
}
.highlight-item .highlight-content{
	padding:0 15px 10px;
}
.highlight-item .highlight-row{
	margin-bottom:3px;
	font-size:12px;
	line-height:18px;
	overflow:hidden;
}
.highlight-item .highlight-desc{
	height:72px;
}
.highlight-item .highlight-rating{
	text-align:right;
	margin:0 0 10px;
}
.highlight-item .highlight-rating a{
	font-size:11px;
}
.highlight-item .highlight-rating .fa{
	font-size:14px;
	margin-right:2px;
	color:#ddd;
}
.highlight-item .highlight-rating .yellow{
	color:#ffb400;
}
.highlight-item .highlight-bottom{
	padding:10px;
	background:#f8fafb;
	min-height:44px;
}
.highlight-item .highlight-bottom a{
	font-size:12px;
	color:#999;
}
.highlight-item .highlight-bottom .highlight-price{
	text-transform:uppercase;
	float:right;
	font-size:12px;
	padding:3px 0 0;
}
.highlight-item .highlight-bottom .highlight-price span{
	color:#ff4e56;
	font-weight:bold;
}
.highlight-tour ul{
	margin-right:-30px;
}
.highlight-tour ul li{
	float:left;
	width:33.33%;
	padding-right:30px;
	padding-bottom:35px;
}
/*end highlight*/
/*tour detail*/
.tour-detail{
	padding:30px 0;
}
.td-title{
	padding:0 0 25px;
}
.td-title h1{
	margin:0;
	display:inline-block;
	vertical-align:top;
	font-size:22px;
	color:#f27525;
	text-transform:uppercase;
	font-weight:600;
}
.td-title h1 span{
	color:#333;
}
.td-rating{
	display:inline-block;
	vertical-align:top;
	padding:3px 0 0 10px;
}
.td-rating a{
	font-size:11px;
}
.td-rating .fa{
	font-size:14px;
	margin-right:2px;
	color:#ddd;
}
.td-rating .yellow{
	color:#ffb400;
}
.td-main{
	float:left;
	width:715px;
}
.td-sidebar{
	float:right;
	width:315px;
}
.td-label{
	font-weight:600;
	text-transform:uppercase;
	font-size:14px;
	color:#3e7bc2;
	padding:0 0 15px;
}
.td-label .td-money{
	float:right;
	width:auto;
	margin-top:-7px;
}
.td-row{
	margin-bottom:7px;
}
.td-row label{
	font-size:12px;
	margin:0;
	float:left;
	font-weight:600;
}
.td-row .td-text{
	margin-left:100px;
	font-size:12px;
}
.td-main .maincontent{
	font-size:12px;
	margin:15px 0 40px;
	line-height:20px;
}
.td-main .maincontent p{
	font-size:12px;
}
.td-table{
	margin-bottom:10px;
}
.td-table > thead > tr > th{
	font-size:12px;
	font-weight:600;
	background-color:#eaeaea;
}
.td-table > tbody > tr > td{
	font-size:12px;
}
.td-help{
	font-size:11px;
	margin-bottom:5px;
}
.td-help .fa{
	margin-right:4px;
	color:#ff4f57;
}
.pd-tabs{
	padding:15px 0 0;
}
.pd-tabs .nav-tabs > li > a{
	background-color:#eee;
	color:#000;
	margin-right:0;
	font-size:12px;
	padding:10px 15px;
	font-weight:600;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
.pd-tabs .nav-tabs > li > a:hover{
	background-color:#e5e5e5;
}
.pd-tabs .nav-tabs > li.active > a,
.pd-tabs .nav-tabs > li.active > a:hover,
.pd-tabs .nav-tabs > li.active > a:focus{
	background-color:#fff;
	color:#fa8600;
}
.related-venues{
	font-size:16px;
	font-weight:600;
	padding:0 0 10px;
}
.related-venues span{
	font-weight:normal;
}
.rv-ul li{
	float:left;
	width:33.33%;
	border-bottom:1px dotted #4a4a4a;
	border-left:1px solid #c5dff3;
	height:304px;
}
.rv-item{
	position:relative;
	z-index:1;
	padding:40px 15px 30px;
}
.rv-item .rv-name{
	font-size:12px;
	color:#1080c0;
	font-weight:600;
	margin-bottom:4px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.rv-item .rv-desc{
	font-size:12px;
	font-weight:600;
	line-height:16px;
	margin-bottom:4px;
	max-height:32px;
	overflow:hidden;
}
.rv-item .rv-info{
	font-size:11px;
	color:#666;
	line-height:16px;
	overflow:hidden;
	height:176px;
}
.rv-item .rv-number{
	position:absolute;
	left:-16px;
	top:-5px;
	width:32px;
	height:32px;
	font-size:14px;
	font-weight:600;
	padding:5px 0 0;
	color:#fff;
	text-align:center;
	background:#1080c0;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.td-map{
	height:150px;
	overflow:hidden;
}
.td-map img{
	width:100%;
	height:150px;
}
.td-map-expand{
	padding:5px 0;
	font-size:12px;
	margin:0 0 15px;
}
.td-featured .grid{
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	margin:0 0 15px;
}
.modal .td-featured .grid{
	padding:0 0 15px;
	border-bottom:1px dashed #dcdcdc;
	border-right:none;
}
.td-featured .grid .img{
	width:110px;
	height:75px;
	margin:0;
}
.td-featured .grid .img img{
	min-height:75px;
}
.td-featured .grid .g-content{
	margin-left:120px;
	min-height:75px;
	padding-right:5px;
}
.td-featured .grid .g-row{
	font-size:11px;
	margin-bottom:2px;
}
.td-featured .grid .g-title{
	font-size:12px;
	line-height:16px;
	max-height:32px;
	overflow:hidden;
	display:block;
	font-weight:600;
}
.td-featured .grid .g-price{
	color:#ff4e56;
	font-size:14px;
	font-weight:600;
}
.td-featured .grid .g-bottom{
	background:#f5f5f5;
	font-size:11px;
	padding:3px 10px;
}
.td-slider{
	position:relative;
	z-index:1;
	min-height:40px;
}
.td-slider .h-item{
	margin-right:-1px;
}
.td-slider .owl-nav .owl-prev,
.td-slider .owl-nav .owl-next{
	background:url(../images/slider-button.png) no-repeat 0 0;
	width:42px;
	height:88px;
	display:inline-block;
	vertical-align:top;
	text-indent:-999px;
	overflow:hidden;
	position:absolute;
	top:50%;
	margin-top:-44px;
	opacity:0.5;
}
.td-slider .owl-nav .owl-prev{
	left:10px;
}
.td-slider .owl-nav .owl-next{
	background:url(../images/slider-button.png) no-repeat -42px 0;
	right:10px;
}
.td-slider .owl-nav .owl-prev:hover{
	opacity:1;
}
.td-slider .owl-nav .owl-next:hover{
	opacity:1;
}
.td-item{
	position:relative;
	z-index:1;
}
.td-item .grid{
	background:#000;
	background:rgba(0,0,0,0.8);
	position:absolute;
	z-index:2;
	bottom:0;
	left:0;
	right:0;
	padding:3px 10px;
	opacity:0;
}
.td-item:hover .grid{
	opacity:1;
}
.td-item  .grid .img{
	font-size:40px;
	text-align:center;
	color:#008ad9;
	font-weight:600;
	line-height:44px;
}
.td-item  .grid .g-content{
	padding:3px 0 0;
}
.td-item  .grid .g-row{
	font-size:12px;
	color:#ccc;
	margin-bottom:3px;
}
.td-item  .grid .g-title{
	font-size:18px;
	color:#ccc;
	font-weight:600;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	line-height:26px;
}
.box-order{
	margin:0 0 15px;
	border:1px dashed #bfbfbf;
	position:relative;
	z-index:1;
}
.box-order .order-title{
	padding:8px 15px;
	font-size:14px;
	color:#fff;
	font-weight:600;
	background:#1080c0;
}
.box-order .form{
	padding:10px 15px 0;
}
.box-order .form .form-group{
	position:relative;
	z-index:1;
}
.box-order .form .fa-calendar{
	position:absolute;
	z-index:2;
	top:37px;
	right:15px;
	font-size:14px;
}
.box-order .form .form-control.form-calendar{
	padding-right:35px;
}
.box-order .form label{
	display:block;
}
.box-order .form label span{
	font-weight:normal;
}
.box-order .form label .text-danger.pull-right{
	font-size:18px;
	margin-top:-3px;
}
.box-order .form .form-box{
	background:#f7f9fa;
	padding:5px;
}
.box-order .order-button{
	padding:10px 15px;
	background:#f8fafb;
	border-top:1px solid #dde0e8;
}
.box-order .order-loading{
	background:url(../images/ajax-loader.gif) no-repeat center center #fff;
	background:url(../images/ajax-loader.gif) no-repeat center center rgba(255,255,255,0.8);
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
}
/*end tour detail*/
/*user*/
.box-user{
	padding:35px 0;
}
.user-menu{
	background:#6195c4;
	height:36px;
}
.user-menu > ul > li{
	float:left;
	height:36px;
	position:relative;
	z-index:1;
}
.user-menu > ul > li > a, .user-menu > ul > li > span{
	display:block;
	height:36px;
	padding:7px 15px 0;
	color:#fff;
	text-decoration:none;
	font-size:14px;
	font-weight:normal;
	text-transform:none;
}
.user-menu > ul > li > span{
	text-transform:uppercase;
	font-weight:bold;
}
.user-menu > ul > li > a > .fa{
	margin-right:5px;
}
.user-menu > ul > li:hover, .user-menu > ul > li.active{
	background:#4a7ea8;
}
.user-menu > ul > li.um-home{
	background:#275c88;
}
.user-content{
	border:1px solid #ddd;
}
.user-title{
	padding:10px 15px;
	background:#f9f9f9;
}
.user-title .ut-name{
	font-size:14px;
	font-weight:bold;
	padding:0 0 3px;
}
.user-title .ut-desc{
	font-size:12px;
	color:#666;
}
.user-info{
	text-align:right;
	padding:10px 15px;
}
.user-content .table{
	margin-bottom:0;
}
.user-content .table > thead > tr > th{
	background:#eaeaea;
	font-weight:600;
	vertical-align:middle;
}
.user-content .table > tbody > tr > td{
	background:#f7f7f7;
	vertical-align:middle;
}
.user-content .table > tfoot > tr > td{
	background:#eaeaea;
	vertical-align:middle;
	font-size:16px;
	font-weight:bold;
}
.user-content .table p{
	margin:0 0 7px;
}
.user-content > .form{
	padding:20px;
}
.user-bottom{
	padding:10px 15px;
	text-align:right;
	background:#f9f9f9;
}
.box-invoice{
	padding:20px 25px;
}
.box-invoice b{
	font-weight:600;
}
.box-invoice .invoice-number{
	text-align:right;
}
.box-invoice .invoice-number > span{
	font-size:14px;
	font-weight:600;
	padding:5px 10px;
	background:#f7f7f7;
	display:inline-block;
	vertical-align:top;
}
.box-invoice .invoice-label{
	padding:15px 0;
	font-size:18px;
	text-transform:uppercase;
	color:#3e7bc2;
	font-weight:600;
}
.invoice-bottom{
	background:#e3edfd;
	text-align:right;
	padding:10px 15px;
	margin-top:15px;
}
/*end user*/
/*checkout*/
.box-checkout{
	padding:35px 0;
}
.checkout-title{
	padding:0 0 25px;
	font-size:18px;
	text-transform:uppercase;
	color:#3e7bc2;
	font-weight:600;
}
.checkout-content{
	border:1px solid #ddd;
}
.checkout-content b{
	font-weight:600;
}
.checkout-content .table{
	margin-bottom:0;
}
.checkout-content .table > thead > tr > th{
	background:#eaeaea;
	font-weight:600;
	vertical-align:middle;
}
.checkout-content .table > tbody > tr > td{
	background:#f7f7f7;
	vertical-align:middle;
}
.checkout-content .table > tfoot > tr > td{
	background:#eaeaea;
	vertical-align:middle;
	font-size:16px;
	font-weight:bold;
}
.checkout-content .table p{
	margin:0 0 7px;
}
.checkout-label{
	background:#6195c4;
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
	padding:10px 15px;
	color:#fff;
}
.checkout-name{
	color:#6195c4;
	padding:10px 0;
	text-align:center;
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
}
.checkout-desc{
	padding:15px;
}
.checkout-method{
	padding:10px 15px;
}
.checkout-bottom{
	background:#f5f5f5;
	padding:10px 15px;
}
.checkout-bottom .checkbox{
	padding-left:20px;
}
.text-coupon{
	width:100px;
	display:inline-block;
	vertical-align:middle;
}
/*end checkout*/