/*common css*/
.btn{
	border:none;
	padding:7px 15px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
.btn .fa{
	margin-right:4px;
}
.btn-sm{
	padding:5px 10px;
}
.btn-primary{
	background-color:#034fbd;
}
.btn-primary:hover{
}
.btn-default{
}
.btn-default:hover{
}
.form-control{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
.text-inlineblock{
	display:inline-block;
	vertical-align:top;
	width:auto;
}
.text-danger{
	color:#fe0405;
}
.box-captcha{
	display:inline-block;
	border:1px solid #b8b8b8;
	margin:0 0 5px;
	vertical-align:middle;
}
.captcha-text{
	width:100px;
}
.btnnewimg{
    background: url(../images/btnnewimg.png) no-repeat;
    border:none;
    box-shadow:none;
    cursor:pointer;
    height:31px;
    margin:0 0 0 5px !important;
    text-indent:-9999px;
    vertical-align:middle !important;
    width:30px;
	display:inline-block;
}
/*end common css*/
.form label{
	font-weight:600;
}
.form-account{
	padding:15px 0 0;
}
.form-account .btn-lg{
	min-width:180px;
}
.form-account .intro-img{
	width:100%;
}
.form-horizontal .control-label{
	text-align:left;
}