@media (min-width: 1200px){
}
@media (max-width: 1199px){
	.bs-desc{
		margin:90px 0 0;
		width:350px;
	}
	.menu-sidebar{
		display:none;
	}
}
@media (min-width: 992px){
	.row.md-reset-all{
		margin-left:0;
		margin-right:0;
	}
	.row.md-reset-5{
		margin-left:-5px;
		margin-right:-5px;
	}
	[class*="col-md-"].padding-all-5{
		padding-left:5px;
		padding-right:5px;
	}
	[class*="col-md-"].padding-left-5{
		padding-left:5px;
	}
	[class*="col-md-"].padding-right-5{
		padding-right:5px;
	}
	[class*="col-md-"].reset-padding-all{
		padding-left:0;
		padding-right:0;
	}
	[class*="col-md-"].reset-padding-left{
		padding-left:0;
	}
	[class*="col-md-"].reset-padding-right{
		padding-right:0;
	}
}
@media (max-width: 991px){
	.ipad-hidden{
		display:none;
	}
	.container{
		width:750px;
	}
	.main{
		width:530px;
	}
	.sidebar{
		width:205px;
	}
	.box-title .lb-name{
		font-size:18px;
	}
	.box-title .submenu-ul li a{
		font-size:12px;
		padding:8px 5px 0
	}
	.navigator .hotline{
		display:none;
	}
	.navigator .social-icons{
		display:none;
	}
	.box-about{
		padding:0;
	}
	.box-about .grid{
		padding:15px 0 10px 0;
		height:auto;
		border-bottom:1px solid #dcdcdc;
	}
	.box-about .grid .ba-line{
		display:none;
	}
	.box-about .grid .btn{
		opacity:1;
		margin-top:0;
	}
	.box-about .grid .g-title{
		margin-bottom:0;
	}
	.box-about .grid:hover{
		padding:15px 0 10px 0;
	}
	.hp-item .hp-title{
		font-size:18px;
	}
	.hp-item .hp-title *{
		font-size:18px;
	}
	.bs-desc{
		margin:20px 0 0;
		width:300px;
	}
	.footer{
		padding:15px 0;
	}
	.menu-footer{
		padding:15px 0;
	}
	.menu-footer ul{
		display:none;
		padding:0;
	}
	.copyright{
		text-align:center;
	}
	.vl-item{
		height:173px;
	}
	.vl-item img{
		height:173px;
	}
	.gallery-list ul li{
		width:50%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.product-list .hp-item{
		height:180px;
	}
	.product-list .hp-item img{
		min-height:180px;
	}
}
@media only screen and (min-width: 768px){
	.row.sm-reset-all,
	.form-horizontal .form-group.sm-reset-all{
		margin-left:0;
		margin-right:0;
	}
	.row.sm-reset-5,
	.form-horizontal .form-group.sm-reset-5{
		margin-left:-5px;
		margin-right:-5px;
	}
	[class*="col-sm-"].padding-all-5{
		padding-left:5px;
		padding-right:5px;
	}
	[class*="col-sm-"].padding-left-5{
		padding-left:5px;
	}
	[class*="col-sm-"].padding-right-5{
		padding-right:5px;
	}
	[class*="col-sm-"].reset-padding-all{
		padding-left:0;
		padding-right:0;
	}
	[class*="col-sm-"].reset-padding-left{
		padding-left:0;
	}
	[class*="col-sm-"].reset-padding-right{
		padding-right:0;
	}
}
@media (max-width: 767px){
	body{
		padding-top:0 !important;
	}
	.container{
		width:auto;
		padding-left:15px;
		padding-right:15px;
	}
	.bground{
		padding:15px 0;
	}
	.main{
		width:auto;
		float:none;
		margin:0 0 15px;
	}
	.sidebar{
		width:auto;
		float:none;
	}
	.box{
		margin:0 0 15px;
	}
	.box-title .submenu-ul{
		position:static;
		height:34px;
		margin:7px 0 -7px;
	}
	.box-title .submenu-ul li{
		margin-left:0;
		margin-right:1px;
	}
	.navigator{
		display:none !important;
	}
	.box-video{
		background-size:cover;
		margin:0 0 15px;
	}
	.box-banner{
		margin:0 0 15px;
	}
	.hp-item:hover img{
		transform:scale(1,1);
	}
	.hn-item .hn-thumb:hover img{
		transform:scale(1,1);
	}
	.box-slider .owl-dots{
		bottom:10px;
	}
	.bs-desc{
		display:none;
	}
	.box-control .pagination-router{
		float:none;
	}
	.box-control .pagination > li{
		margin:0 5px 5px 0;
	}
	.pd-tabs .nav-tabs > li{
		float:none;
		margin-bottom:1px;
	}
	.pd-tabs .nav-tabs > li > a{
		font-size:16px;
		border:none;
	}
	.pd-tabs .nav-tabs > li.active > a,
	.pd-tabs .nav-tabs > li.active > a:hover,
	.pd-tabs .nav-tabs > li.active > a:focus{
		background-color:#177efd;
		color:#fff;
		border:none;
	}
	.product-other ul li{
		width:50%;
	}
	.cloudzoom-zoom{
		display:none;
	}
	.cloudzoom-blank{
		display:none;
	}
	.bm-ovelay{
		position:static;
		height:auto;
	}
	.bm-ovelay .row,
	.bm-ovelay .container{
		height:auto;
	}
	.bm-ovelay .pull-right{
		float:none !important;
	}
	.bm-content{
		height:450px;
	}
	.contact-form{
		padding:15px 0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
	}
	.contact-form .form-group{
		margin-bottom:0;
	}
	.contact-form .form-control{
		margin-bottom:15px;
	}
	.review-input .w40{
		width:100%;
	}
	.review-input .w60{
		width:100%;
	}
	.bs-label{
		display:none;
	}
	.box-slider .btn{
		display:none;
	}
}
@media (max-width: 640px){
	.video-list ul li{
		width:50%;
	}
	.vl-item{
		height:214px;
	}
	.vl-item img{
		height:214px;
	}
	.bm-content{
		height:400px;
	}
}
@media (max-width: 533px){
	.hp-item{
		height:180px;
	}
	.hp-item img{
		min-height:180px;
	}
	.gl-item{
		height:180px;
	}
	.gl-item img{
		min-height:180px;
	}
	.box-title .submenu-ul{
		height:auto;
	}
	.box-title .submenu-ul li{
		margin-right:0;
		float:none;
		display:block;
	}
	.box-title .submenu-ul li a{
		font-size:14px;
	}
	.homeproduct-slider{
		padding:15px 0;
	}
	.homenews-slider{
		padding:15px 0;
	}
	.homelogo-slider{
		padding:15px 0;
	}
	.vl-item{
		height:174px;
	}
	.vl-item img{
		height:174px;
	}
}
@media (max-width: 480px){
	.box-title .lb-name{
		font-size:16px;
	}
	.box-title .lb-desc{
		font-size:13px;
	}
	.box-about .grid .g-row{
		margin-bottom:5px;
		font-size:13px;
	}
	.box-about .grid .g-title{
		font-size:16px;
	}
	.box-about .grid .g-title *{
		font-size:16px;
	}
	.box-video .video-ul ul li a{
		font-size:13px;
	}
	.box-video .video-ul ul li a h3{
		font-size:13px;
	}
	.hp-item{
		height:300px;
	}
	.hp-item img{
		min-height:300px;
	}
	.hn-item .hn-thumb{
		height:330px;
	}
	.hn-item .hn-thumb img{
		min-height:330px;
	}
	.homelogo-slider{
		padding:15px 0 0;
	}
	.product-list ul li{
		float:none;
		width:auto;
		margin:0 0 20px;
	}
	.product-list ul li:nth-child(even){
		margin:0 0 20px;
	}
	.pd-center .pd-title, .pd-center .pd-title h1{
		font-size:24px;
	}
	.product-other ul li{
		width:auto;
		float:none;
		padding:0;
	}
	.vl-item{
		height:154px;
	}
	.vl-item img{
		height:154px;
	}
	.gl-item{
		height:154px;
	}
	.gl-item img{
		min-height:154px;
	}
	.bm-content{
		height:350px;
	}
}
@media (max-width: 360px){
	.box-about .grid .img{
		float:none;
		margin:0 auto 10px;
	}
	.box-about .grid .g-content{
		margin-left:0;
	}
	.hp-item{
		height:230px;
	}
	.hp-item img{
		min-height:230px;
	}
	.hn-item .hn-thumb{
		height:250px;
	}
	.hn-item .hn-thumb img{
		min-height:250px;
	}
	.news-title{
		padding:0;
		font-size:22px;
	}
	.news-title h1{
		padding:0;
		font-size:22px;
	}
	.maincontent{
		font-size:12px;
	}
	.maincontent p{
		font-size:12px;
	}
	.news-list .grid .img{
		width:auto;
		height:auto;
		float:none;
		margin:0 0 10px;
	}
	.news-list .grid .img a{
		display:block;
		width:auto;
		height:auto;
	}
	.news-list .grid .img img{
		max-height:none;
		max-width:none;
		width:100%;
	}
	.news-list .grid .g-content{
		margin-left:0;
	}
	.box-other ul li a{
		font-size:12px;
	}
	.product-image .zoom-btn-small{
		display:none;
	}
	.pd-center .btn-lg{
		display:block;
		margin-right:0;
		width:100%;
		margin-bottom:10px;
	}
	.video-list ul li{
		float:none;
		width:auto;
		padding:0;
	}
	.vl-item{
		height:auto;
	}
	.vl-item img{
		height:auto;
	}
	.gallery-list ul li{
		padding:0 5px 0 0;
		margin:0 0 15px;
	}
	.gallery-list ul li:nth-child(even){
		padding:0 0 0 5px;
	}
	.gl-item{
		height:120px;
	}
	.gl-item img{
		min-height:120px;
	}
	.bm-content{
		height:300px;
	}
}
@media (max-width: 320px){
	.hp-item{
		height:200px;
	}
	.hp-item img{
		min-height:200px;
	}
	.hn-item .hn-thumb{
		height:200px;
	}
	.hn-item .hn-thumb img{
		min-height:200px;
	}
	.pi-slider{
		padding:0 20px;
	}
	.gl-item{
		height:100px;
	}
	.gl-item img{
		min-height:100px;
	}
	.bm-content{
		height:270px;
	}
}